.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $dark-blue-color;
}

#scoreboard {
    display: none;
    justify-content: space-between;
    width: 30%;
    top: 20%;
    left: 35%;
    margin: auto;
    text-align: center;
    position: absolute;
    color: $dark-blue-color;
}

#scoreboard p {
    padding: 8%;
}

#scoreboard,
.turn-display {
    font-size: 1.3rem;
    font-weight: 500;
}

.turn-display {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

#turn-display-text {
    margin: .5em;
    padding: 1.25em 1.5em;
    border-radius: 15px;
    background-color: $dark-blue-sheer2;
    color: $dark-blue-color;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    margin-top: 2%;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid $dark-blue-color;
    font-size: 10vmin;
    color: $dark-blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
} 

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
} 

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.game-buttons {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    text-align: center;
    width: 50%;
}
