.winner-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-blue-sheer1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light-blue-color;
    font-size: 5rem;
}

.winner-message.show {
    display: flex;
}